<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

<div class="container">
    <h1>About Me 👋</h1>

    <div class="card">
<p>
I am a 3rd year Computer Science Engineering student at 
NSS College of Engineering, Palakkad.
</p>

<p>
I am passionate about building web applications, backend systems, and working with APIs. 
I enjoy learning new technologies and applying them in real-world projects.
</p>

<h3>💻 Skills</h3>
<ul>
    <li>Python</li>
    <li>C</li>
    <li>UI/UX</li>
    <li>Java</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Flask</li>
    <li>SQL / DBMS</li>
    <li>JavaScript (basic)</li>
    <li>RAG System (basic)</li>
</ul>

</div>

<body>